  body {
    margin: 0;
  }
  
  h1 {
    color: #a9682e;
    text-align: center;
  }

  p {
    color: #a9682e;
    font-family: Marck Script;
    font-size: 15px;
    text-align: center;
  }

  .topborder {
    background: url(assets/topborder.png) no-repeat;
    background-position: top;
    width: 100%;
    height: 220px;
  }

  .bottomborder {
    background: url(assets/bottomborder.png) no-repeat;
    background-position: bottom;
    width: 100%;
    height: 220px;
  }

  .logo-container{
    max-height: 200px;
    max-width: 200px;
    margin: auto;
  }

  .logo {
    background: url(assets/logo.png) no-repeat;
    background-position: center;
    margin: auto;
    width: 500px;
    height: 500px;
  }