  h1 {
    color: #a9682e;
    text-align: center;
  }
  
  p {
    color:#a9682e;
    font-family: Marck Script;
    font-size: 15px;
    text-align: center;
  }
  
  .container{
    height:100%;
    width:100%;

    background-color: #f2ebd9;
    
  }

  .div1{
    padding-top: 15em;
    border: #c7c6c5;
    border-radius: 0 0 0 0;
    text-align: center;
    }

    .top-left-image{
        background: url(/assets/topleftborder.png) no-repeat;
        background-size: 75%;
        background-position: top left;
        z-index: 9;
    }

    .top-right-image{
        position: absolute;
        background: url(/assets/toprightborder.png) no-repeat;
        background-size: 75%;
        background-position: top right;
        top: 0;
        left: 0;
    }