body {
    display:flex;
    padding-left: 10%;
    padding-top: 10%;
  }
  
  h1 {
    color: #a9682e;
    text-align: center;
  }
  
  p {
    color:#a9682e;
    font-family: Marck Script;
    font-size: 20px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .div1{
    background-color: #f2ebd9;
    background-image: "garden-roses-floral-design-watercolor-painting-clip-art-autumn.jpg";
    border: #c7c6c5;
    border-radius: 30vh 30vh 0 0;
    border-style: solid;
    border-width: 10px;
    text-align: center;
    }

    .square {
        background: url(/toprightborder.png) no-repeat;
        background-size: 75%;
        background-position:top right;
        background-color: #f2ebd9;
        height: flex;
        width: flex;
        padding-left: 1%;
        padding-right: 1%;
    }

    .left-image{
        background: url(/leftborder.png) no-repeat;
        background-size: stretch;
        background-position: left;
        height: flex;
        width: flex;
        transform: translateX(-7%);
    }

    .right-image{
        background: url(/leftborder.png) no-repeat;
        width: 20%;
        float:right;
    }